<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>大事件-文章</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
    <div class="header">
        <a href="#" class="logo fl"><img src="images/logo.png" alt="logo"></a>
        <div class="search_form fl">
            <input type="text" class="search_txt" placeholder="黑洞照片">
            <button class="search_btn"><i class="fa fa-search"></i></button>
        </div>
        <div class="link_info fr">
            <a href="#"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;网站地图</a><br>
            <a href="#"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;招聘信息</a>
        </div>
    </div>

    <div class="menu_con">
        <div class="menu">
            <div class="menu_collapse fl">
                <a href="javascript:;" class="level_one"><i class="fa fa-list-ul"></i>全部分类</a>
                <ul class="level_two" id="level_two">
                    <li class="up"></li>

                </ul>
            </div>
            <ul class="left_menu fl" id="left_menu">

            </ul>
            <ul class="right_menu fr">
                <li><a href="#">科技专题</a></li>
                <li><a href="#">财经专题</a></li>
            </ul>
        </div>
    </div>

    <div class="main_con clearfix">
        <div class="left_con setfr">

            <div class="article">

            </div>


            <form class="comment_form">
                <div class="form_group">
                    <label>用户名：</label>
                    <input type="text" placeholder="请输入用户名" class="comment_name" id="userName">
                </div>
                <div class="form_group">
                    <label>评论内容：</label>
                    <textarea placeholder="请发表您的评论" class="comment_input" id="content"></textarea>
                </div>
                <div class="form_group">
                    <input type="button" name="" value="评 论" class="comment_sub" id="add"></div>
            </form>

            <div class="comment_count">
                4条评论
            </div>

            <div class="comment_list_con" id="comment_list">
                <div class="comment_detail_list">
                    <div class="person_pic fl">乔</div>
                    <div class="name_time fl"><b>虚竹</b><span>4小时前</span></div>
                    <div class="comment_text fl">
                        遏制茅台酒价格过快上涨，多渠道供给，就不一定要买，租茅台酒也可以的，租售同权。开发共有产权茅台酒，让老百姓喝得起茅台酒，饮者有其酒。
                    </div>
                </div>
                <div class="comment_detail_list">
                    <div class="person_pic fl">段</div>
                    <div class="name_time fl"><b>虚竹</b><span>4小时前</span></div>
                    <div class="comment_text fl">
                        遏制茅台酒价格过快上涨，多渠道供给，就不一定要买，租茅台酒也可以的，租售同权。开发共有产权茅台酒，让老百姓喝得起茅台酒，饮者有其酒。
                    </div>
                </div>
                <div class="comment_detail_list">
                    <div class="person_pic fl">虚</div>
                    <div class="name_time fl"><b>虚竹</b><span>4小时前</span></div>
                    <div class="comment_text fl">
                        遏制茅台酒价格过快上涨，多渠道供给，就不一定要买，租茅台酒也可以的，租售同权。开发共有产权茅台酒，让老百姓喝得起茅台酒，饮者有其酒。
                    </div>
                </div>
                <div class="comment_detail_list">
                    <div class="person_pic fl">王</div>
                    <div class="name_time fl"><b>虚竹</b><span>4小时前</span></div>
                    <div class="comment_text fl">
                        遏制茅台酒价格过快上涨，多渠道供给，就不一定要买，租茅台酒也可以的，租售同权。开发共有产权茅台酒，让老百姓喝得起茅台酒，饮者有其酒。
                    </div>
                </div>
            </div>
        </div>
        <div class="right_con setfl">
            <div class="common_wrap">
                <h3><i class="fa fa-bar-chart"></i> 一周热门排行</h3>
                <ul class="content_list" id="weekhot">

                </ul>
            </div>
            <div class="common_wrap">
                <h3><i class="fa fa-commenting-o"></i> 最新评论</h3>
                <ul class="content_list comment_list">
                    <li>
                        <span>山</span>
                        <b><em>山治</em> 9个月前(08-14)说:</b>
                        <strong>挺会玩的</strong>
                    </li>
                    <li>
                        <span>丽</span>
                        <b><em>丽丽</em> 9个月前(08-14)说:9个月前(08-14)说:9个月前(08-14)说:</b>
                        <strong>挺会玩的挺会玩的挺会玩的挺会玩的</strong>
                    </li>
                    <li>
                        <span>R</span>
                        <b><em>Rechael</em> 9个月前(08-14)说:</b>
                        <strong>挺会玩的</strong>
                    </li>
                    <li>
                        <span>J</span>
                        <b><em>John</em> 9个月前(08-14)说:</b>
                        <strong>挺会玩的</strong>
                    </li>
                    <li>
                        <span>段</span>
                        <b><em>段正淳</em> 9个月前(08-14)说:</b>
                        <strong>挺会玩的</strong>
                    </li>
                    <li>
                        <span>乔</span>
                        <b><em>乔峰</em> 9个月前(08-14)说:</b>
                        <strong>挺会玩的</strong>
                    </li>
                </ul>
            </div>
            <div class="common_wrap">
                <h3><i class="fa fa-bullseye"></i> 焦点关注</h3>
                <ul class="content_list guanzhu_list">
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界泡泡中的世界</a></li>
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer clearfix">
        <div class="foot_link">
            <a href="#">关于我们</a>
            <span>|</span>
            <a href="#">联系我们</a>
            <span>|</span>
            <a href="#">招聘人才</a>
            <span>|</span>
            <a href="#">友情链接</a>
        </div>
        <p>CopyRight © 2019 深圳大事件信息技术股份有限公司 All Rights Reserved</p>
        <p>电话：0755-****888 粤ICP备*******8号</p>
    </div>

</body>
<script src="js/jquery-1.12.4.min.js"></script>
<script src="js/util/config.js"></script>
<script src="js/util/category.js"></script>
<script src="js/util/article.js"></script>
<script src="js/util/comment.js"></script>
<script src="js/template-web.js"></script>
<script src="js/dayjs/dayjs.min.js"></script>
<script src="js/dayjs/relative.min.js"></script>
<script src="js/dayjs/zh_cn.js"></script>
<!-- 获取分类 -->
<script id="cate" type="text/html">
    {{each data item }}
    {{if item.id==id}}
    <li class="current"><a href="./list.html?id={{item.id}}">{{item.name}}</a></li>
    {{else}}
    <li><a href="./list.html?id={{item.id}}">{{item.name}}</a></li>
    {{/if}}
    {{/each}}
</script>
<!-- 一周热门 -->
<script id="hot" type="text/html">
    {{each data item index}}
    {{if index==0}}
    <li><span class="first">{{index+1}}</span><a href="#">{{item.title}}</a></li>
    {{else if index==1}}
    <li><span class="second">{{index+1}}</span><a href="#">{{item.title}}</a></li>
    {{else if index==2}}
    <li><span class="third">{{index+1}}</span><a href="#">{{item.title}}</a></li>
    {{else}}
    <li><span>{{index+1}}</span><a href="#">{{item.title}}</a></li>
    {{/if}}
    {{/each}}
</script>
<!-- 获取文章详情 -->
<script id="article" type="text/html">
    <div class="breadcrumb">
        当前位置： <a href="./index.html">首页</a> &gt; <a href="./list.html?id={{data.type_id}}">{{data.type_name}}</a> &gt;
        文章详情
    </div>
    <h3 class="article_title">{{data.title}}</h3>
    <div class="article_info">{{data.author}} 发布于 {{data.date}}&nbsp;&nbsp;&nbsp;分类:
        {{data.type_name}}&nbsp;&nbsp;&nbsp;阅读:
        ({{data.read}})&nbsp;&nbsp;&nbsp;评论: ({{data.comment}})</div>
    <div class="article_con">

    </div>
    <div class="article_links">
        {{if data.prev.id !== ""}}
        上一篇： <a href="./article.html?id={{data.prev.id}}">{{data.prev.title}}</a><br>
        {{/if}}
        {{if data.next.id !== ""}}
        下一篇： <a href="./article.html?id={{data.next.id}}">{{data.next.title}}</a>
        {{/if}}
    </div>
</script>
<!-- 文章评论列表 -->
<script id="comment" type="text/html">
    {{each data item}}
    <div class="comment_detail_list">
        <div class="person_pic fl">{{item.name.substr(0,1)}}</div>
        <div class="name_time fl"><b>{{item.name.substr(1)}}</b><span>{{item.relativeDt}}</span></div>
        <div class="comment_text fl">
            {{item.content}}
        </div>
    </div>
    {{/each}}
</script>
<script>
    // 处理时间戳
    dayjs.extend(dayjs_plugin_relativeTime)
    // dayjs设置语言
    dayjs.locale('zh-cn')
    // 从地址栏获取id
    let id = window.location.search.substr(4)
    let hot_id

    category.get().then(res => {
        let htmlStr = template('cate', res)
        $('#left_menu').html(htmlStr)
        $('#level_two').append(htmlStr)
    })

    // 获取文章详情
    article.get_article(id).then(res => {

        hot_id = res.data.type_id
        let htmlStr = template('article', res)
        $('.article').html(htmlStr)
        $('.article_con').html(res.data.content)

        // 一周热门排行
        article.rank(hot_id).then(function (res) {
            console.log(res);
            let htmlStr = template('hot', res)
            $('#weekhot').html(htmlStr)
        })
    })
    // 发表评论
    $('#add').click(function () {
        let name = $('#userName').val().trim()
        let content = $('#content').val().trim()

        comment.add(name, content, id).then(function (res) {
            if (res.code === 200) {
                alert(res.msg)
            } else {
                alert(res.msg)
            }
        })
        getAndShow()
    })
    // 显示评论
    function getAndShow() {
        comment.get(id).then(function (res) {
            console.log(res);
            res.data.reverse()
            // 对于所有的评论数据，给每一条数据中额外添加一个相对时间的属性
            // 然后，在模板引擎中使用这个属性
            res.data.forEach(function (item) {

                // item.relativeDt = dayjs(item.dt).toNow()
                item.relativeDt = dayjs().to(dayjs(item.dt))
            })
            if (res.code === 200) {
                let count = res.data.length
                $('.comment_count').html(`${count}条评论`)
                let htmlStr = template('comment', res)
                $('#comment_list').html(htmlStr)
            } else {
                alert(res.msg)
            }
        })
    }
    getAndShow()
</script>

</html>